*{
    margin: 0;padding: 0;box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    background-color: #2b2922;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img{
    height: 2.5rem;
}

header{
        padding: 2rem 4rem ;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
.list-items{
        margin-right:2rem ;
    }

    .logo{
        flex-grow: 2;
    }


    .singin-btn{
        border: 2px solid #7d702f;
        color:#7d702f;
        background-color: transparent;
        padding: .8rem 1.5rem;
        border-radius: .3rem;
    }    

 main{
    display: flex;
    padding: 2rem 4rem ;
    align-items: center;
    justify-content: space-between;

 }   

 h1{
    font-size: 3.3rem;
    margin-right: 2rem;
 }
 p{
    font-size: .8rem;
    
 }
 section{
    height: 33rem;
    margin-top: 2rem;
    background-image: url(../images/pexels-ekaterina-bolovtsova-6077326.jpg);
    background-size: cover;
 }